{%extends 'base.html'%}
{%block content%} 
<link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
<h1 style="text-align: center;">TOP HEADLINES</h1>
<div class="container" style="background-color: black;font-family: 'Gotu', sans-serif;">
<div class="row">
    <div class="col-md-4">
    <h3 style="color: white;">GENERAL</h3>
     <ul>
        {% for  general in general%}
            <a href="{{general.url}}"><li>{{ general.description}}</li></a>
        {% endfor %}

    </ul>
    </div>
        <div class="col-md-4">
    <h3 style="color: white;">SPORTS</h3>
    <ul>
        {% for sport in sports%}
        <a href="{{sport.url}}"><li>{{ sport.description}}</li></a>
        {% endfor %}

    </ul>
        </div>
        <div class="col-md-4">
    <h3 style="color: white;">TECHNOLOGY</h3>
    <ul>
        {% for technology in technology%}
        <a href="{{technology.url}}"><li>{{ technology.description}}</li></a>
        {% endfor %}

    </ul>
        </div>
</div>
<div class="row">
         <div class="col-md-4">
    <h3 style="color: white;">ENTERTAINMENT</h3>
    <ul>
        {% for entertainment in entertainment%}
        <a href="{{entertainment.url}}"><li>{{ entertainment.description}}</li></a>
        {% endfor %}

    </ul>
        </div>

</ul>
    <div class="col-md-4">
<h3 style="color: white;">BUSINESS</h3>
    <ul>
        {% for business in business%}
        <a href="{{business.url}}"><li>{{business .description}}</li></a>
        {% endfor %}

    </ul>
    </div>
</ul>
    <div class="col-md-4">
<h3 style="color: white;">HEALTH</h3>
    <ul>
        {% for health in health%}
        <a href="{{health.url}}"><li>{{ health.description}}</li></a>
        {% endfor %}

    </ul>
    </div>
</div>
</div>
{%endblock%}