{%extends 'base.html'%}
{%block content%}
<div class="row">
    <div class="col-md-4">
    <h3>GENERAL</h3>
     <ul>
        {% for  general in general%}
            <a href="{{general.url}}"><li>{{ general.description}}</li></a>
        {% endfor %}

    </ul>
    </div>
        <div class="col-md-4">
    <h3>SPORTS</h3>
    <ul>
        {% for sport in sports%}
        <a href="{{sport.url}}"><li>{{ sport.description}}</li></a>
        {% endfor %}

    </ul>
        </div>
        <div class="col-md-4">
    <h3>TECHNOLOGY</h3>
    <ul>
        {% for technology in technology%}
        <a href="{{technology.url}}"><li>{{ technology.description}}</li></a>
        {% endfor %}

    </ul>
        </div>
</div>
    </ul>
         <div class="col-md-4">
    <h3>ENTERTAINMENT</h3>
    <ul>
        {% for entertainment in entertainment%}
        <a href="{{entertainment.url}}"><li>{{ entertainment.description}}</li></a>
        {% endfor %}

    </ul>

</ul>
    <div class="col-md-4">
<h3>BUSINESS</h3>
    <ul>
        {% for business in business%}
        <a href="{{business.url}}"><li>{{business .description}}</li></a>
        {% endfor %}

    </ul>

</ul>
    <div class="col-md-4">
<h3>HEALTH</h3>
    <ul>
        {% for health in health%}
        <a href="{{health.url}}"><li>{{ health.description}}</li></a>
        {% endfor %}

    </ul>
{%endblock%}