{% extends 'base.html'%}
{% block content %}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
<div class="container" style="font-family: 'Gotu', sans-serif;background-color: black;">
    <form>
        <input type="text" name="sources_query" placeholder="Search for a Sources" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
    



        <h1 style="color:red;text-align: center;">{{ heading }}</h1>

    <div class="row">
        <div class="col-md-4">
            <h3 style="color: white;">ENTERTAINMENT</h3>
            <ul>
                {% for entertainment in entertainment%}
                    <a href="{{entertainment.url}}"><li>{{ entertainment.name}}</li></a>
                    <p style="color: white;">{{entertainment.description}}</p>
                {% endfor %}
        
            </ul> -->    
        </div>      
            <div class="col-md-4">   
    <h3 style="color: white;">SPORTS</h3>
    <ul>
        {% for sport in sports%}
            <a href="{{sport.url}}"><li>{{ sport.name}}</li></a>
            <p style="color: white;">{{sport.description}}</p>
        {% endfor %}

    </ul>
            </div>
            <div class="col-md-4">
                <h3 style="color: white;">SCIENCE</h3>
                <ul>
                    {% for science in science%}
                        <a href="{{science.url}}"><li>{{ science.name}}</li></a>
                        <p style="color: white;">{{science.description}}</p>
                    {% endfor %}
            
                </ul> 
            </div>
    </div>
    <div class="row">
            <div class="col-md-4">
    <h3 style="color: white;">HEALTH</h3>
    <ul>
        {% for health in health%}
            <a href="{{health.url}}"><li>{{ health.name}}</li></a>
            <p style="color: white;">{{health.description}}</p>
        {% endfor %}

    </ul>
            </div>
            <div class="col-md-4">
    <h3 style="color: white;">BUSINESS</h3>
    <ul>
        {% for business in business%}
            <a href="{{business.url}}"><li>{{ business.name}}</li></a>
            <p style="color: white;">{{business.description}}</p>
        {% endfor %}

    </ul> -->
               
            </div>
            <div class="col-md-4">
    <h3 style="color: white;">TECHNOLOGY</h3>
    <ul>
        {% for technology in technology%}
            <a href="{{technology.url}}"><li>{{ technology.name}}</li></a>
            <p style="color: white;">{{technology.description}}</p>
        {% endfor %}

    </ul> -->
    
            </div>
    </div>
    <h3 style="color: white;">GENERAL</h3>
     <ul>
        {% for general in general%}
            <a href="{{general.url}}"><li>{{ general.name}}</li></a>
            <div class="card">
            <p style="color: white;">{{general.description}}</p>
            </div>
        {% endfor %}

    </ul>
</div> 
{%endblock%}

