 <!-- {% extends 'base.html'%}
{% block content %}
        <h1>{{ heading }}</h1>
    <h3>GENERAL</h3>
     <ul>
        {% for general in general%}
            <a href="{{general.url}}"><li>{{ general.name}}</li></a>
            <p>{{general.language}}</p>
        {% endfor %}

    </ul>
    <h3>SPORTS</h3>
    <ul>
        {% for sport in sports%}
            <a href="{{sport.url}}"><li>{{ sport.name}}</li></a>
        {% endfor %}

    </ul>
    <h3>TECHNOLOGY</h3>
    <ul>
        {% for technology in technology%}
            <a href="{{technology.url}}"><li>{{ technology.name}}</li></a>
        {% endfor %}

    </ul>
    <h3>HEALTH</h3>
    <ul>
        {% for health in health%}
            <a href="{{health.url}}"><li>{{ health.name}}</li></a>
        {% endfor %}

    </ul>
    <h3>ENTERTAINMENT</h3>
    <ul>
        {% for entertainment in entertainment%}
            <a href="{{entertainment.url}}"><li>{{ entertainment.name}}</li></a>
        {% endfor %}

    </ul>

    <h3>SCIENCE</h3>
    <ul>
        {% for science in science%}
            <a href="{{science.url}}"><li>{{ science.name}}</li></a>
        {% endfor %}

    </ul>
    <h3>BUSINESS</h3>
    <ul>
        {% for business in business%}
            <a href="{{business.url}}"><li>{{ business.name}}</li></a>
        {% endfor %}

    </ul>
 
{%endblock%}
 -->
